@model CoronaWedding.Models.Account

@{
    ViewData["Title"] = "Checkout";
}

<div class="title">
    <img src="/Media/images/checkoutLogo.PNG" alt="title" class="rounded mx-auto d-block">
</div>
<hr />

<div class="row why_us_section">
    <div class="col-lg-4 col-md-6 mx-auto">
        <div class="box">
            <div class="img-box">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="detail-box">
                <h4>Purchase summary:</h4>
                <hr />
                <p>
                    @if (@ViewBag.LocationPrice != 0)
                    {
                        <h5>Location: @ViewBag.LocationPrice$</h5>
                    }
                    @if (@ViewBag.CateringPrice != 0)
                    {
                        <h5>Catering: @ViewBag.CateringPrice$</h5>
                    }
                    @if (@ViewBag.MusicPrice != 0)
                    {
                        <h5>Music: @ViewBag.MusicPrice$</h5>
                    }
                    @if (@ViewBag.PhotographerPrice != 0)
                    {
                        <h5>Photographer: @ViewBag.PhotographerPrice</h5>
                    }
                    <hr />
                    <h5>Total price: @ViewBag.Total$</h5>
                </p>
            </div>
        </div>
    </div>
</div>



<aside>

    <!-- start sw-rss-feed code -->
    <script type="text/javascript">

<!--
        rssfeed_url = new Array();
        rssfeed_url[0] = "https://www.jpost.com/rss/rsscoronavirusupdates";
        rssfeed_frame_width = "250";
        rssfeed_frame_height = "600";
        rssfeed_scroll = "on";
        rssfeed_scroll_step = "6";
        rssfeed_scroll_bar = "off";
        rssfeed_target = "_blank";
        rssfeed_font_size = "12";
        rssfeed_font_face = "";
        rssfeed_border = "on";
        rssfeed_css_url = "";
        rssfeed_title = "on";
        rssfeed_title_name = "Coronavirus Live Updates";
        rssfeed_title_bgcolor = "#ff6699";
        rssfeed_title_color = "#fff";
        rssfeed_title_bgimage = "";
        rssfeed_footer = "off";
        rssfeed_footer_name = "rss feed";
        rssfeed_footer_bgcolor = "#fff";
        rssfeed_footer_color = "#333";
        rssfeed_footer_bgimage = "";
        rssfeed_item_title_length = "50";
        rssfeed_item_title_color = "#ff6699";
        rssfeed_item_bgcolor = "#fff";
        rssfeed_item_bgimage = "";
        rssfeed_item_border_bottom = "on";
        rssfeed_item_source_icon = "off";
        rssfeed_item_date = "on";
        rssfeed_item_description = "off";
        rssfeed_item_description_length = "120";
        rssfeed_item_description_color = "#fff";
        rssfeed_item_description_link_color = "#333";
        rssfeed_item_description_tag = "off";
        rssfeed_no_items = "0";
        rssfeed_cache = "8d89267457da06f056143f5a2fe918fa";
//-->
    </script>
    <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
    <!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. -->
    <div style="color:#ccc;font-size:10px; text-align:right; width:250px;">powered by <a href="https://surfing-waves.com" rel="noopener" target="_blank" style="color:#ccc;">Surfing Waves</a></div>
    <!-- end sw-rss-feed code -->
    </p>
</aside>


<iframe width="560" height="315" src="https://www.youtube.com/embed/CQq51HfgxAA"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write;
  encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>

