@model IEnumerable<CoronaWedding.Models.Music>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.supplireEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.musicType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.supplireEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.musicType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MusicId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MusicId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MusicId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
