@model IEnumerable<CoronaWedding.Models.Photographer>

@{
    ViewData["Title"] = "Index";
}
@if (ViewBag.IsAdmin)
{
    <a class="btn btn btn-light btn-lg" asp-controller="Photographers" asp-action="Create">Add Item</a>
}
<div class="title">
    <img src="/Media/images/photoLogo.PNG" alt="title" class="img">
</div>
<hr>

@foreach (var item in Model)
{
    <div class="responsive-images">
        <div class="filterDiv">
            @if (ViewBag.IsAdmin)
            {
                <div class="AdminButtons">
                    <a asp-controller="Photographers" asp-action="Edit" asp-route-id="@item.PhotographerId">Edit</a>
                    <a asp-controller="Photographers" asp-action="Delete" asp-route-id="@item.PhotographerId">Delete</a>
                </div>
            }
            <img id=@item.PhotographerId src="@item.imagePath" class="imageFilter" name="Photographers">
            <h5>Email: @item.supplireEmail</h5>
            <h5>Price: @item.price</h5>
            <button class="buttonForSite addToCartButoon" id=@item.PhotographerId name="Photographer">
                Add To Cart
            </button>
        </div>
    </div>}

<div class="prevAndNext">
    <a class="previous" asp-controller="Music" asp-action="Index">&laquo; Previous</a>
    <a class="next" asp-controller="Accounts" asp-action="Checkout">Next &raquo;</a>
</div>

@section Scripts{
    <script src="~/js/dynamicFilter.js"></script>
}
