@model IEnumerable<CoronaWedding.Models.Photographer>

@{
    ViewData["Title"] = "Index";
}

<div class="title">
    <img src="/Media/images/photoLogo.PNG" alt="title" class="img">
</div>
<hr>

@foreach (var item in Model)
{
    @if (ViewBag.IsAdmin)
    {
        <div class="AdminButtons">
            <a asp-controller="Photographers" asp-action="Edit" asp-route-id="@item.PhotographerId">Edit</a>
            <a asp-controller="Photographers" asp-action="Delete" asp-route-id="@item.PhotographerId">Delete</a>
        </div>
    }
    <div class="responsive-images">
        <div class="filterDiv">
            <img id=@item.PhotographerId src="@item.imagePath" class="imageFilter" name="Photographers">
            <h5>Email: @item.supplireEmail</h5>
            <h5>Price: @item.price</h5>
            <button class="buttonForSite addToCartButoon" id=@item.PhotographerId name="Photographer">
                Add To Cart
            </button>
        </div>
    </div>}

@section Scripts{
    <script src="~/js/dynamicFilter.js"></script>
}
