@model CoronaWedding.Models.Catering

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-7">
        <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0 imgDet" src="@Model.imagePath" width="500" height="600" style="vertical-align:bottom">
        </a>
    </div>
    <div class="col-md-5 textDetails">
        <h3>@Model.foodType</h3>
        <p>Email: @Model.supplierEmail</p>
        <p>Pricr: @Model.price$</p>
        @{ if (@Model.Kosher == true) {<p>Kosher: Yes</p>} else {<p>Kosher: No</p>} }


        <button class="buttonForSite addToCartButoon" id=@Model.CateringId name="Catering">Add To Cart</button>

    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_Popup"); }
        <script src="~/js/dynamicFilter.js"></script>
    }