@model IEnumerable<CoronaWedding.Models.Catering>

@{
    ViewData["Title"] = "Index";
}

<div class="title">
    <img src="/Media/images/cateringLogo.PNG" alt="title" class="img">
</div>
<hr>

<div class="filter-nav">
    <button class="filter-all filterButton" data-filter="all" value="all" name="Caterings"> Show All</button>
    <button class="filter filterButton" data-filter="asian" value="Asian" name="Caterings"> Asian</button>
    <button class="filter filterButton" data-filter="meaty" value="meaty" name="Caterings"> Meaty</button>
    <button class="filter filterButton" data-filter="vegan" value="vegan" name="Caterings"> Vegan</button>
</div>

@foreach (var item in Model)
{
    <div class="responsive-images">
        <div class="filterDiv">
            @if (ViewBag.IsAdmin)
            {
                <div class="AdminButtons">
                    <a asp-controller="Locations" asp-action="Edit" asp-route-id="@item.CateringId">Edit</a>
                    <a asp-controller="Locations" asp-action="Delete" asp-route-id="@item.CateringId">Delete</a>
                </div>
            }
            <img id=@item.CateringId src="@item.imagePath" class="imageFilter" name="Caterings">
            <h5 class="mail">Email: @item.supplireEmail</h5>
            <h5 class="mail">Food Type: @item.foodType</h5>
            <h5>Pricr: @item.price$</h5>
            <button class="buttonForSite addToCartButoon" id=@item.CateringId name="Catering">
                Add To Cart
            </button>

        </div>
    </div>
}
<div class="prevAndNext">
    <a class="previous"  asp-controller="Locations" asp-action="Index">&laquo; Previous</a>
    <a class="next"  asp-controller="Music" asp-action="Index">Next &raquo;</a>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_Popup");}
    <script src="~/js/dynamicFilter.js"></script>
}