@model CoronaWedding.Models.Location

@{
    ViewData["Title"] = "Delete";
}
<div class="title">
    <img src="/Media/images/deleteItemLogo.PNG" alt="title" class="img">
</div>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.placeCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.placeCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.supplireEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.supplireEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LocationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
